<!DOCTYPE html>
<html lang="en">
<head>
    <title>docker-nginx</title>
    <style>
    	h1, h2{font-family:Georgia,serif;color:#4E443C;font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;}
 		p, ul, ol{font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;font-size: 14px;margin-top: .5em; color: #666;}
    </style>
</head>
<body>
	<div style="text-align:center">
    	<h1>Nginx proxy</h1>
    	<p>If you can see this page, it means that your docker-nginx container is up but you haven't set any proxy mode</p>
	</div>
    <h2>Possible settings:</h2>
    <ol>
    	<ul>UPSTREAMS="name:url:port" (accepts multiple values /comma separated/; it also assumes that upstream is served by uwsgi)</ul>
    	<ul>UPSTREAMS_LOCATIONS="/" (accepts multiple values /comma separated/; root by default; defines nginx location block for URI; order has to be equal to one from UPSTREAMS)</ul>
		<ul>UPSTREAMS_TIMEOUT=5 (default)</ul>
		<ul>UPSTREAMS_FAILS=6 (default)</ul>
		<ul>NGINX_PORT=80 (default) </ul>
		<ul>NGINX_SERVER_NAME=_ (default)</ul>
		<ul>PROXY_TARGETS="url:port" (accepts multiple values /comma separated/)</ul>
		<ul>PROXY_LOCATIONS="/" (accepts multiple values /comma separated/; root by default; defines nginx location block for URI; order has to be equal to one from PROXY_TARGETS)</ul>
		<ul>STATICS=false</ul>
		<ul>STATICS_LOCATION=statics</ul>
		<ul>STATS=false (internal nginx_stats on/off)</ul>
		<ul>USE_AUTH=false (basic auth on/off)</ul>
		<ul>USE_HTTPS_REDIR=false</ul>
		<ul>AUTH_USER="user_name"</ul>
		<ul>AUTH_PASS="password"</ul>
		<ul>FLOOD=false (turn on anti-flood? - limit_req )</ul>
		<ul>FLOOD_RATE=5 (requests rate per second)</ul>
		<ul>DROP_PHP=false (deny all php requests?)</ul>
		<ul>REAL_IP=false (reveal real client ip when behind ELB)</ul>
		<ul>REAL_IP_CIDR=<cidr> (ie 172.31.0.0/16)</ul>
		<ul>ELB_HC=false (set custom location to make ELB healthcheck happy - if used point HC to /elb-status)</ul>
		<ul>CLIENT_BODY_SIZE=1m (default)</ul>
    </ol>
</body>
</html>