{% if USE_UWSGI is defined and USE_UWSGI == 'true' %}
  upstream {{ UPSTREAM_BACKEND_NAME|default('local_backend', true) }} {
    server {{ UPSTREAM_BACKEND_URL|default('localhost', true) }}:{{ UPSTREAM_BACKEND_PORT|default(8000, true)}} fail_timeout={{ UPSTREAM_BACKEND_TIMEOUT|default(5, true) }}s max_fails={{ UPSTREAM_BACKEND_FAILS|default(6, true) }};
  }
{% endif %}

server {
    listen      0.0.0.0:{{ NGINX_PORT|default(80, true) }} default_server;
    server_name  {{ NGINX_SERVER_NAME|default('_', true) }};

    {% if USE_STATICS is defined and USE_STATICS == 'true' %}
    location /static {
        alias /data/staticserve;
        expires 1d;
    }
    {% endif %}

    location / {
      proxy_set_header Host $host:$server_port;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      {% if USE_UWSGI is defined %}
      uwsgi_pass http://{{ UPSTREAM_BACKEND_NAME|default('local_backend', true) }};
      include /etc/nginx/conf.d/uwsgi_params;
      {% elif USE_PROXY_PASS is defined and USE_PROXY_PASS == 'true' %}
      proxy_pass http://{{ PROXY_TARGET_URL|default('localhost', true) }}:{{ PROXY_TARGET_PORT|default(8080, true) }};
      {% else %}
      root /var/www/localhost/htdocs;
      index index.html;
      {% endif %}
    }
}