user  nginx;
worker_processes {{ env("WORKER_PROCESSES", "1") }};

error_log  /dev/stderr {% if DEBUG == 'true' %}debug{% else %}{{ env("LOG_LEVEL", "notice")}}{% endif %};
pid        /run/nginx.pid;

events {
    worker_connections  1024;
}

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /dev/stdout;

  sendfile        on;
  server_tokens   off;
  {%- if REAL_IP == 'true' or REAL_IP_CIDRS %}
  real_ip_header {{ env('REAL_IP_HEADER', 'X-Forwarded-For') }};
  proxy_ignore_client_abort on;
  {%- for cidr in REAL_IP_CIDRS.split(',') %}
  set_real_ip_from {{ cidr }};
  {%- endfor %}
  {% endif %}
  keepalive_timeout  {{ env("KEEPALIVE_TIMEOUT", "65") }};
  proxy_read_timeout {{ env("PROXY_READ_TIMEOUT", "60s") }};
  proxy_send_timeout {{ env("PROXY_SEND_TIMEOUT", "60s") }};
  client_max_body_size {{ env("CLIENT_MAX_BODY_SIZE", "1m") }};
  {% if GZIP == 'true' %}
  gzip        on;
  gzip_types  image/svg+xml text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript image/x-icon;
  gzip_disable "msie6";
  gzip_vary on;
  gzip_proxied any;
  gzip_min_length 250;
  {% endif %}
  {% if NOSNIFF == 'true' %}
  add_header X-Content-Type-Options nosniff;
  {% endif %}
  {% if CSP == 'true' %}
  # check https://content-security-policy.com/ for more info
  add_header Content-Security-Policy "default-src 'self' {{ env("CSP_DEFAULT_SRC", "") }}; script-src 'self' {{ env("CSP_SCRIPT_SRC", "") }}; style-src 'self' {{ env("CSP_STYLE_SRC", "") }}; img-src 'self' {{ env("CSP_IMG_SRC", "") }}; connect-src 'self' {{ env("CSP_CONNECT_SRC", "") }}; font-src 'self' {{ env("CSP_FONT_SRC", "") }}; object-src 'self' {{ env("CSP_OBJECT_SRC", "") }}; media-src 'self' {{ env("CSP_MEDIA_SRC", "") }}; frame-src 'self' {{ env("CSP_FRAME_SRC", "") }};
  " always;
  {% endif %}
  map $http_x_forwarded_proto $proxy_x_forwarded_proto {
    default $http_x_forwarded_proto;
    ''      $scheme;
  }
  map $http_x_forwarded_port $proxy_x_forwarded_port {
    default $http_x_forwarded_port;
    ''      $server_port;
  }
  include /etc/nginx/conf.d/*.conf;
}
